@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


.SongList {
    display: flex;
    width: 50vw;
    height: 40vh;
    background-color: #211f27;
    color: white;
    flex-direction: column;
    gap: 16px;
    padding: 1.5vh 1vw;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    scrollbar-width: thin;
    scrollbar-color: #888 #222;

}

.Song {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: left;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;

}
.SongCover {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.SongActions {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
}
.SongText {
    flex: 1;
    text-align: left;
    justify-self: left;
}

.Buttons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.DisplayName {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.ActionBtn{
    background: none;
    border: none;
    color: #5772ff;
    font-size: 20px;
}