@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');



.SearchBar {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 5vw;
    gap: 10px;
}

.ToolbarRight {
    display: flex;
    align-items: center;
    gap: 16px;
}

.Username {
    font-weight: bold;
}

.LogoutBtn {
    background-color: #5772ff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.SearchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #18181c;
    color: white;

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.SearchInput:focus {
    border-color: #5772ff;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.SearchInput:invalid {
    box-shadow: none;
    outline: none;
}


.SearchBtn {
    background-color: #5772ff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}