@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

body{
    background-color: #101012;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}


.AuthFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-color: white;
}

.AuthForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #18181c;

}

.Form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}